.search-column{
    background-color:#a9a8a8;
}

.list-group-item{
    line-height:0.5;
}

.card-body{
    flex:auto
}

span.severe{
    padding: 5px;
    background-color: rgb(174, 0, 0);
    color:rgb(168, 166, 166);
}

span.moderate{
    padding: 5px;
    background-color: yellow;
}

span.favorable{
    padding: 5px;
    background-color: rgb(2, 219, 2);
    color:rgb(168, 166, 166);
}